node_modules/
dist/
build/
target/
.acton/
.DS_Store
.idea/
AGENTS.md
**/research/**
scripts/
.skills/
sources/
.gen/
tongo/

# Acton related files
.studio/
gen/
lcov.info
libraries.toml
global.libraries.toml

# Mnemonic and wallet files
.env
*.mnemonic
wallets.toml
global.wallets.toml
